# dependencies
node_modules/

# environment variables (IMPORTANT)
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build / output
dist/
build/

# optional: coverage reports
coverage/

# optional: editor settings
.vscode/